<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmr.project.mymarket">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".UI.Activities.AddNewCarrier"
            android:parentActivityName=".UI.Activities.Post"
            android:label="@string/addNewCarrier"/>
        <activity android:name=".UI.Activities.InsertWare.InsertNewWare"
            android:label="@string/photos"></activity>
        <activity android:name=".UI.Activities.SeeCarrier"
            android:label="@string/see_all_carrier"/>

        <activity android:name=".UI.Activities.Login.LoginView"
            android:label="@string/app_name"></activity>
        <activity android:name=".UI.Activities.Corb_header"
            android:parentActivityName=".MainActivity"
            android:label="@string/corb"></activity>
        <activity android:name=".UI.Activities.MailItem" />
        <activity android:name=".UI.Activities.About"
            android:label="@string/nav_about"></activity>
        <activity android:name=".UI.Activities.Mail"
            android:label="@string/nav_mail"></activity>
        <activity android:name=".UI.Activities.Account"
            android:label="@string/nav_my_account"></activity>
        <activity android:name=".UI.Activities.MyOrders"
            android:label="@string/nav_my_order"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".UI.Activities.Post"
            android:label="@string/nav_post_apacheur">
        </activity>
        <activity android:name=".UI.Activities.DoMarket"
            android:label="@string/nav_doMarket"></activity>
        <activity android:name=".UI.Activities.Feedback"
            android:label="@string/nav_anaconda"></activity>
        <activity android:name=".UI.Activities.MyWares"
            android:label="@string/my_wares"/>
        <activity android:name=".UI.Activities.AnacondaInfos"
            android:label="@string/nav_feeddback"></activity>
        <activity android:name=".UI.Activities.WareItem"/>
        <activity android:name=".UI.Activities.InsertWare.ListImageSelectedActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/insertNewWare"></activity>

        <provider
            android:authorities="com.thecodecity.cameraandroid.fileprovider.new"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>